*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* ******************************Filter**************************** */
.filter-container{
    z-index: 7;
    height: 60vh;
    width: 10vw;
    top: 10vh;
    left: 5vw;
    position: fixed;
    
}
.filter{
    height:20%;
    width: 100%;
    background-image: url("https://picsum.photos/id/237/200/300");
    background-size: cover;
    /* mix background color with image */
    background-blend-mode: color-burn;
}

.ui-filter{
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* background-color: rgb(204, 15, 40); */
    z-index: 6;
    opacity: 0.4;
    display: none;
}

.ui-filter-active{
    display: block;
}

/* *************** Timer  ******************************** */
.timer{
    position: fixed;
    z-index: 7;
    background-color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 400;
    bottom: 12vh;
    left: 6vw;
    display: none;
}
.active-timer{
    display: block;
}

/* ****************** Video Container (capture btn, Record btn) *********************** */
.video-container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-ele{
    height: 100%;
    width: 100%;
    z-index: 5;
    transform: scale(1);
}

.parent{
    position: fixed;
    top: 0px;
    z-index: 7;
    border: 4px solid white;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.record-container{
    top: 30vh;
    right: 5vw;

}
.active{
    animation: scaleUp1 1s infinite;
}

@keyframes scaleUp1{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.25);
    }
}

.record-btn, .capture-btn{
    background-color: rgb(245, 3, 44);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: none;
    outline: none;
}

.capture-btn{
    background-color: white;
}
.capture-container{
    top: 50vh;
    right: 5vw;
}
.short-active{
    animation: scaleUp2 0.5s
}
@keyframes scaleUp2{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.25);
    }
}

/* zoom-in & zomm-out */

.zoom-container{
    height: 17vh;
    width: 4.5vw;
    background-color: rgb(245, 237, 237);
    top: 6.5vh;
    right: 6vw;
    position: fixed;
    z-index: 7;

}
.icon{
    height: 50%;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid ;
}

.gallery{
    height: 10vh;
    width: 10vw;
    border-radius: 50%;
    background-color: #444;
    color: white;
    font-size: 120%;
    font-weight: 600;
    text-decoration: none;
    position: fixed;
    z-index: 7;
    right: 3vw;
    bottom: 20vh;
    text-align: center;
    padding-top: 1rem;
}