.body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
/* *************************** Menu Container CSS ****************************** */
.menu-container{
    background-color: lightblue;
    height: 5rem;
    display: flex;
    align-items: center;
}
.menu-container>*{
    height:80%;
    width:20%;
    border-right: 2px solid;
}
.formatting-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.formatting-container>*{
    /* width: 90%; */
    justify-content: space-evenly;
}
.subgroup{
    height:100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.subgroup>*{
    width: 100%;
}
.BUI-container{
    display: flex;
    justify-content: space-between;
}
.BUI-container>*{
    width: 30%;
}
.color-container{
    display: flex;
    justify-content:space-between;
}
.color-container>*{
    width:45%;
}
.alignment-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.alignment-container>*{
    width:20%;
}
/* ***************************************************************************** */
.formula-container{
    height: 2rem;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.address-box{
    width:10%;
}
.separator{
    width:2%;
}
.formula-box{
    width: 85%;
}

/* *********************Sheets Container CSS *********************************** */
.sheets-container{
    height: 2.5rem;
    background-color: lightgray;
    display: flex;
    align-items: center;
}
.icon-container{
    height: 100%;
    width: 3%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 1.5rem;
}

.sheet-list{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;   
}

.sheet{
    height:100%;
    min-width:100px;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 5px;
}
.active{
    background:white;
}


/******************** Grid-container css********************************************/
.grid-container{
    margin: 0;
    padding: 0;
    height: calc( 100vh - ( 2rem - 5rem - 2.5rem ) );
    position: relative;
    overflow:auto;
}
.top-left-block{
    height: 30px;
    width: 25px;
    background-color: gray;
    position: absolute;
}
.top-row{
    height: 30px;
    background-color:lightgreen;
    display:flex;
    align-items: center;
    position: absolute;
    left: 25px;
}
.left-col{
    width: 25px;
    position: absolute;
    top: 30px;
}
.left-col-box{
    height: 30px;
    background-color:lightgreen;
    display:flex;
    align-items:center;
    justify-content: center;
    border: 1px solid;
}
.col{
    height: 100%;
    max-width: 80px;
    min-width: 80px;
    border: 1px solid;
    overflow: auto;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}
.row{
    display:flex;
    height: 30px;
}

.grid{
    position: absolute;
    top: 30px;
    left: 25px;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}